.Container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  width: 100vw;
  text-align: center;

}


.Heading{
  font-size: 20px;
}

.TypingContainer{
  position: relative;
  width: 50vw;
  padding: 10px;
  font-size: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

.TextArea{
  position: relative;
  height: 50vh;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  background-color: transparent;
  z-index: 1;
  font-size:16px;
  line-height: normal;
  resize: none;
  text-align: left;
  font-family: monospace;
}

.Wrapper{
    position: absolute;
    top: 21px;
    left: 20.9px;
    height: 50vh;
    color: #aaa;
    pointer-events: none;
    font-size:16px;
    display: block;
    font-family: monospace;
    line-height: normal;
    text-align: left;
}

.typingSpeed{
  display: block;
}

.TypingSpeed{
  font-size: 20px;
  justify-content:center;
}

.spanText{
  position:absolute;
  top: 7px;
  left: 12px  ;
  z-index: 1;
  padding: 10px;
  border-radius: 3px;
  font-size:16px;
  font-family: 'Times New Roman', Times, serif;
}

.ProgressBar{
  width:100%;
 
}

.PlaceholderText{
  position: absolute;
  top:13px;
  left:13px;
  width: inherit;
  height: 100%;
  color: #aaa;
  pointer-events: none;
  font-size:16px;
  display: block;
  font-family: monospace;
  line-height: normal;
  text-align: left;
  display: block;
  height: 50vh;
  overflow: hidden;
}